@page "/groups"
@layout HomeLayout


<div class="container p-0">
   

    @* header *@
    <div style="background-color:#7196FF;padding:9px;">
        <div class="d-flex justify-content-between align-items-center" style="color:white;font-size:22px;">

            <p class="ms-3"> Aspire Chat</p>
            <div class="d-flex">
                <i class="fa fa-camera me-3" aria-hidden="true"></i>

            </div>
        </div>
    </div>
    @if (@isBusy)
    {
        <div class="d-flex justify-content-center mt-3">
            <div class="spinner-border" style="color:#7196FF" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else
    {

        <button class="btn btn-primary p-3 mt-3" @onclick="NewGroup">New Group</button>
        @foreach (var item in groups)
        {

            <div @onclick="() => GoToGroupChat(item.Id)" class="mx-3 p-2" style="border-radius:5px;">
                <div class="d-flex justify-content-between">
                    <div class="d-flex  align-items-center">
                        <div style="position:relative">
                            <img src=".\imagePlace.jpg" style="border-radius:50%;height:40px" />
                        </div>
                        <div class="ms-2">
                            <p style="font-size:16px;">@item.Name</p>
                            <p style="font-size:14px;color:	#999999;">Last Seen: @item.Description</p>
                        </div>
                    </div>
                    @if (@item.UnreadMessageCount != 0)
                    {
                        <div style="background-color:#7196FF;border-radius:50%;height:23px;width:23px;">
                            <p style="text-align:center;color:white;font-size:14px;">@item.UnreadMessageCount</p>

                        </div>
                    }
                </div>
            </div>
        }
    }

</div>