@page "/groups"
@layout HomeLayout


<style>
    .content {
        padding-top: 0;
    }
    p{
        font-family: Sora;
    }
</style>

<div class="container p-0">
   

    @* header *@

    <div class="d-flex justify-content-between align-items-center px-3 py-2">
        <p style="font-size:32px;"><b>Groups</b></p>
        <i class="fa fa-plus-circle " style="font-size:30px;" @onclick="NewGroup" aria-hidden="true"></i>
    </div>

    @if (@isBusy)
    {
        <div class="d-flex justify-content-center mt-3">
            <div class="spinner-border" style="color:#7196FF" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div>
    }
    else
    {
        @foreach (var(item, index) in groups.Select((group, index) => (group, index)))
        {

            <div @onclick="() => GoToGroupChat(item.Id)" class="mx-3 p-2" style="border-radius:5px;">
                <div class="d-flex justify-content-between">
                    <div class="d-flex  align-items-center">
                        <div style="position:relative">
                            <img src=".\imagePlace.jpg" style="border-radius:50%;height:40px" />
                        </div>
                        <div class="ms-2">
                            <p style="font-size:16px;">@item.Name</p>
                            <p style="font-size:14px;color:	#999999;"> @item.Description</p>
                        </div>
                    </div>
                    @if (@item.UnreadMessageCount != 0)
                    {
                        <div style="background-color:#7196FF;border-radius:50%;height:23px;width:23px;">
                            <p style="text-align:center;color:white;font-size:14px;">@item.UnreadMessageCount</p>

                        </div>
                    }
                </div>
            </div>
            @if (index != groups.Count() - 1)
            {
                <div style="width: 90%; margin:auto;
                  height: 2px;
                  opacity: 1;
                  background-color: rgb(240, 240, 240);
                  border-radius: 12px ">
                </div>
            }
        }
    }

</div>