
<style>
    #upload-img-icon{
        font-size:36px;
        position:absolute;
    }
    #img-input{
        opacity: 0;
        position: absolute;
        
        width:30px;
        height:30px;
    }
</style>

<div style="position:relative;width:45px;">
    <i class="fa fa-picture-o" id="upload-img-icon" aria-hidden="true"></i>
    <InputFile OnChange="@HandleImageSelected" id="img-input" multiple accept="image/jpeg, image/png" />
</div>

