<style>
    #upload-pdf-icon {
        font-size: 33px;
        position: absolute;
    }

    #pdf-input {
        opacity: 0;
        position: absolute;
        width: 30px;
        height: 30px;
    }
</style>

<div style="position:relative;">
    <i class="fa fa-file-pdf-o" id="upload-pdf-icon" aria-hidden="true"></i>
    <InputFile OnChange="@HandlePdfSelected" id="pdf-input" multiple accept="application/pdf" />
</div>

